<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.iuzx.ucenter.mapper.MemberMapper">

    <select id="userRegisterCounter" resultType="java.lang.Integer" parameterType="java.lang.String">
        select count(1) from ucenter_member WHERE DATE(gmt_create) = #{value}
    </select>
</mapper>
